html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#root {
  height: 100%;
}
.keypad .MuiButton-label {
  color: #f9f9f9 !important;
  font-size: 25px;
}
.keypad {
  background-color: #4c4c4c !important;
}
.keypad .operator {
  background-color: #666666 !important;
}
.keypad .MuiGrid-item {
  display: grid;
}
.result-grid {
  background-color: #73daeb;
  line-height: 5;
  color: #ffffff;
}
.result-grid .MuiInputBase-root {
  width: 100%;
}
.result-grid textarea {
  margin: 0 10px;
  text-align: right;
  color: #ffffff;
  font-size: 25px;
}
.word-wrap {
  word-wrap: break-word;
}
